<a href="https://colab.research.google.com/github/Jhopn/Content_of_the_python/blob/main/Content/Conte%C3%BAdo_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INTRODUÇÃO AO PYTHON

In [ ]:
#comentário
print("Olá Mundo!")
print("")
'''   
Comentários de mais de uma linha    
'''

## Variaveis

In [ ]:
# Tipos de variaveis

# SEP e END

In [ ]:
# Sem aspas significa que não é texto
numero1 = 5
numero2 = 3
numero3 = 9
print(numero1,numero2,numero3, sep = "-")

In [ ]:
# Variáveis tipo string(Cadeia e caracter) 
# Python não faz distinção de ' e de ""
a = "Pedro"
b = 'Jhoão'
c = '''Santos'''
print(b,a,c)
# A virgula funciona como espaço
print(b,a,c, sep='-')
# SEP funciona como um separador, que utiliza o caracter entre as '' ou ""
print(b,a,c, end=' - É o nome do aluno')
# END escreve ao final do print o texto entre as '' ou ""
print("\n",b,"\n",a,"\n",c)
# \n quebra a linha (inclusive dentro do SEP e END)

# Escrita da String

In [ ]:
# Formas de utilizar a string
print("\nO %s tirou %s" %  (b,"5"))
#  O %s é substituido por variaveis dentro do parênteses 
print("\nO {} tirou {}" .format(b,"5"))
#  O {} é subistituido por variaveis dentro do parênteses

'''Formatação'''
# %s text2o
# %d inteiro
# %f real

## Separação da String

# Nova seção

In [ ]:
#Separaçãeo de String
nome = "Santos"
print(len(nome))
# LEN diz a quantidade de indices na variável
print(nome)
print(nome[0])
print(nome[1])
print(nome[2])
print(nome[3])
print(nome[4])
print(nome[5])

In [ ]:
# OBS: Utilização para contagem de caracter e potenciação de x valor
nome = "José"
valor = 3
rs = (valor)**(len(nome))
print(rs)

In [ ]:
#Variáveis Booleanas
a = 1
b = 2
c = 3
print(a == b)
print(a != b)
print(a+b == c)
print(a*b == a*c)

# Slicing

In [ ]:
#Pedaços do nome de uma String
nome = "Liquidificador"
print(nome[3:]) # Os valores do lado direito não são executados
print(nome[:3]) # Os valores do lado esquerdo não são executados
print(nome[:-3]) # Escreve os três primeiros valores da string
print(nome[-3:]) # Escreve os três ultimos valores da string
print(nome[:3] + nome[3:])

# Slicing é chamado esse processo
# print(texto[posiçao:intervalo:ordem])

# Operadores matematicos

In [ ]:
# São operadores: 
'''
  - subtração 
  + soma ou concatenação
  * mutiplicação 
  / divisão
  // divisão inteira
  % resto da divisão
  ** potenciação 

'''

In [ ]:
# Exemplo de utilização 
# Raiz quadrada de 81
print( 81 ** (1/2))

# Identação e IF, ELIF e ELSE

In [ ]:
# Identação é o ato de manter em linha o espaçamento, pois em python não não tem a utilização dos {}
sn = "ifma22"
confere = input("Digite sua senha: ")
if sn == confere:
  print("Sua senha está correta!")
elif confere == "225":
  print("Senha de administração! Agora voçê é root")
else:
  print("Senha incorreta!")

######################
#                    #
#''' if = se         #
#    elif = senao se #
#    else = senao    # 
#'''                 #
######################

In [ ]:
# Exemplo de utilização de if com true

if False: 
  print("Agora voçê tem acesso ao WIFI")
else:
  print("Senha incorreta! Tente Novamente!")

# Entrada de comandos

In [ ]:
# Exemplo de entrada de dados
matri = input("Digite sua matricula: ")
senh = input("Digite sua senha:" )
print(f"Sua matricula", matri, "\nSeu nome:", senh)

Digite sua matricula: 4564
Digite sua senha:25656
Sua matricula 4564
Seu nome: 25656

# Utilização do FOR

In [ ]:
# Escreve até o número 10
for i in range(10):
  print(i+1) 
# FOR é um repetidor 
# i é a variável 
# RANGE é a situação de parada

In [ ]:
# Imprime os números impares
for i in range(50):
  print(i*2+1)

In [ ]:
# Números pares
for i in range(50):
  print(i*2)

In [ ]:
# Tabuada do 8
for i in range(10):
  print(i*8)

In [ ]:
# Tabuada de 0 a 9
for i in range(10):
  print("\tTabuada de",i)
  if i==10:
    print("\n")
  for x in range(10):
    print(x*i)

In [ ]:
# Some de 1 a 10
soma = 0
for i in range(10):
  print("A soma é:",soma+i)

## Variável FOR no RANGE

In [ ]:
# Inicializa a variavel com o 1º valor do range (1º)
for i in range (5,10):
  print(i)

5
6
7
8
9

In [ ]:
# RANGE (1º,2º,3º)
# 1º = Valor 
# 2º = Fim
# 3º = De quantos em quantos
for i in range (0,100,2):
  print(i)

## RANGE regressivo

In [ ]:
# Basta alterar a ordem 
for i in range (40,0,-1):
  print(i)

## RANGE + STRING

In [ ]:
# LEN usado dentro do RANGE
texto = "Noeylyy"
for i in range(0,len(texto)):
  print(texto[i])

In [ ]:
# Letra e a Posição 
nome = input("Escreva seu nome: ")
letra =input("Escreva sua letra: ")
for i in range(0,len(nome)):
  if letra == nome[i]:
    print("Encontrei a letra %s na posição %i" %(letra, i))

In [ ]:
# Tabuada com variavel no RANGE
for x in range(1,11):
  print("----------------------------------")
  for j in range(1,11):
    print(x,"x", j, "=",x*j)

----------------------------------
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------------------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# Tabuada FOR

# Casting(Mudança de variáveis) e TYPE

In [ ]:
# Casting é a mudança do tipo da variavel 
texto1 = "1.4"
texto2 = "6"
# É possivel mudar o tipo da variavel ao colocar uma outra variavel recebendo-à após colocar o tipo que voçê quiser
numero1 = float(texto1)
numero2 = int(texto2)
print(type(texto1))
# TYPE é utilizado para mostrar o tipo da variavel
print(type(texto2))
print(type(numero1))
print(type(numero2))

In [ ]:
# Função que calcula a porcentagem de um número
nm = float(input("Digite um número: "))
por = float(input("A porcentagem: "))
rs = nm*(por/100)
print("A porcentagem de",nm,"é: ",por)

## For com texto

In [ ]:
# For com texto
texto = " Ana Maria"
for x in texto: 
  print(x)

A
n
a

M
a
r
i
a

# Inverter String e Teste Booleano

In [ ]:
# Invertendo String
texto = "AVON"
print(texto[::-1])

In [ ]:
# Teste com variavel booleana
txt = "Casa"
print( "a" in txt)
print( "asa" not in txt)
print( "i" not in txt)
print( "u" in txt)
print( "o" not in txt)

## Exemplo de IN no If e Else

In [ ]:
# Verificar email
email = input("Digite seu email: ")
if "@" in email: 
  print("Email correto!")
else:
  print("Email incorreto!")

Digite seu email: jaiozinho.com
Email incorreto!

# Imutabilidade de String

In [ ]:
# A variavel string em python é imutável
frase = "Feijãozino 123"
print(frase.replace("3","4"))

## Através da Contatenação

In [ ]:
# Também é possivel alterar através da contatenação
frase2 = "Estudo python 3"
print(frase2[:14] + "2")

## LEN

In [ ]:
# LEN conta a quantidade de indices na variavel
# Também conta os espaços     
print(len(frase2))

15

# Capitalize

In [ ]:
# Transforma o primeiro indice em maiúsculo
txt = "exemplo"
txt1 = txt.capitalize()
print(txt1)

Exemplo

# Startswith e Endswith

In [ ]:
# Verifica se () é a primeira da cadeia 
txt = "estudo de python 3"
txt2 = txt.startswith("p")
print(txt2)

In [ ]:
# Verifica se () é o ultimo indice da cadeia  
txt = "estudo de python 3"
txt2 = txt.endswith("3")
print(txt2)

# Split

In [ ]:
# SPLIT separa a string em array(vetor) do tipo lista 
txt = "estudo de python 3"
txt2 = txt.split()
print(txt2)
print(type(txt2))

In [ ]:
# Separando String 
nmcompleto = input("Escreva seu nome completo: ")
nm = nmcompleto.split()
l = len(nm[0])
j = len(nm[1])
print("Nome: " + nmcompleto[:l])
print("Sobrenome: " + nmcompleto[l:0:j])

Escreva seu nome completo: jhoao pedro
Nome: jhoao
Sobrenome:

# OBS: IMPUT

In [ ]:
# IMPUT sempre será string, portanto declare a variavel antes do IMPUT
nm = int(input("Escreva um número: "))
if nm == 10: 
  print("Seu número é :", nm)

Escreva um número: 10
Seu número é : 10

# LOWER

In [ ]:
nm = input("Digite seu nome: ")
nm = nm.lower()
for i in range(len(nm)):
  if nm[i] in "a":
      print("O nome", nm,"tem vogal", nm[i])
  if nm[i] in "e":
      print("O nome", nm, "tem vogal", nm[i])
  if nm[i] in "i":
      print("O nome", nm, "tem vogal", nm[i])
  if nm[i] in "o":
      print("O nome", nm,"tem vogal", nm[i])
  if nm[i] in "u":
      print("O nome", nm, "tem vogal", nm[i])
  else: 
      print("Esse nome não tem vogal!")

Digite seu nome: kdsfg
Esse nome não tem vogal!
Esse nome não tem vogal!
Esse nome não tem vogal!
Esse nome não tem vogal!
Esse nome não tem vogal!

# Laço While e Break e Continue

In [ ]:
# While é um comando de repetição 
a = 0
while True:
  if a ==10:
# Break é pare BURRO!
    break
  print(a)
  a+=1
print("Acabou!")

In [ ]:
# Comando com CONTINUE pulando um valor
a =0
while a<10:
  a+=1
  if a == 3:
    continue
  print(a)
print("E acabou!")

# ARRAY tipo lista em python

In [ ]:
lista = []
lista1 = [1,5,6,4]
# LIST é um metodo do python
# É mais interessasnte utilizar LIST
lista2 = list([2,6,8,4,8])
print(lista)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
print(lista1)
print(lista2)

[]
[1, 5, 6, 4]
[2, 6, 8, 4, 8]

In [ ]:
# No python é possivel uma lista com diferentes tipos de variaveis
ls = [5,"Teste 123"]
print(ls)

[5, 'Teste 123']

In [ ]:
# Escrevendo arrays 
lst = list([5,6,8,"Tu",5,"Prova"])
print(lst[0:3]) # Imprime a quantidade que vc quiser
print(lst[-1]) # Imprime o ultimo
print(lst[0]) # Imprime o primeiro 
print(lst) # Imprime toda a lista

[5, 6, 8]
Prova
5
[5, 6, 8, 'Tu', 5, 'Prova']

## APPEND e INSERT

In [ ]:
# Insere um valor ao final da lista
ls = list([5.89,65,"Lista"])
print(ls)
ls.append(56)
print(ls)
# Também é possivel alterar um determinado valor da lista apenas colocando a igualdade e o indice da lista
ls[2] = 5896
print(ls)

[5.89, 65, 'Lista']
[5.89, 65, 'Lista', 56]
[5.89, 65, 5896, 56]

In [ ]:
# INSERT insere um valor apartir do valor dado sem apagar o valor anterior
ls = list([5.89,65,"Lista"])
ls.insert(2,25659)
print(ls)

[5.89, 65, 25659, 'Lista']

## REMOVE e POP e CLEAR

In [ ]:
# REMOVE remove de acordo com o valor pedido 
ls = list([5.89,65,"Lista"])
ls.remove(5.89)
print(ls)

[65, 'Lista']

In [ ]:
# POP remove o valor do indice pedido 
ls = list([5.89,65,"Lista"])
ls.pop(1)
print(ls)
# CLEAR apaga todo a lista 
ls.clear()
print(ls)

[5.89, 'Lista']
[]

OBS: BUG

In [ ]:
vetor = [56,93,5]
print( 5 in vetor)

True

## CONTATENAR E SOMAR

In [ ]:
# Contatenar vetor
vetor = [56,93,5]
vetor1 = ["TáEmShOcK",6,89,"Flamengo"]
print(vetor+vetor1)

[56, 93, 5, 'TáEmShOcK', 6, 89, 'Flamengo']

In [ ]:
# Duplicar vetor
print((vetor1)*2)

['TáEmShOcK', 6, 89, 'Flamengo', 'TáEmShOcK', 6, 89, 'Flamengo']

In [ ]:
# Separar indices para variaveis
vetor = [56,93,5, "TESTE"]
a,b,c,d = vetor
print(a)
print(b)
print(c)
print(d)

56
93
5
TESTE

In [ ]:
# Separando em variaveis menores que os elementos da lista
vetor = [56,93,5, "TESTE", "NÂOSEI"]
a,b,c,_,_ = vetor
print(a)
print(b)
print(c)
z,x,y = vetor[0:3]
print(z)
print(x)
print(y)